* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  line-height: 1.75em;
  font-weight: 300;
  color: #777;
}

table {
  border-collapse: collapse;
  width: auto;
  margin-top: 50px;
}

th,
td {
  border: 2px solid #1b1b1b;
  padding: 8px;
  text-align: left;
}
